<div class="container">
  <h2>TV Series</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Channel</th>
        <th>Seasons</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let serie of series; let i = index">
        <td>{{ i + 1 }}</td>
        <td><a [href]="serie.webpage" target="_blank">{{ serie.name }}</a></td>
        <td>{{ serie.channel }}</td>
        <td>{{ serie.seasons }}</td>
      </tr>
    </tbody>
  </table>
  <p>Seasons average: {{ averageSeasons}}</p>
</div>
